.git
.gitignore
.env
**/.env
.env.*
**/.env.*
.venv
__pycache__/
*.py[cod]
*.log
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/
tests/
docs/
deploy/
src/kaven/logs/
src/kaven/config.json
